
/* reset default mergins, colors, fonts, etc */

* {
  margin: 0;
  padding: 0;
//  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent
  width: 100%;
}



/* colors for valid and invalid form*/
input:valid:not([type=file]) {
  border: 1px solid green;
}

input:invalid {
  border: 2px solid red;
}

input:focus {
  border: 2px solid blue;
}

input[type=image]{
  width: 30px;
}


/* media queries */
@media only screen and (orientation: portrait){
}

@media only screen and (orientation: landscape){
}

/* elements */
h1{
  border: 20px solid grey;
  font-size: 32px;
}

h2{
  font-size: 20px;
}

ul {
  margin: 10;
  list-style-type: square;
}

ul li
{
  margin: 10;
  list-style-type: square;
  background-position: 0px 5px; 
}

/* CSS Selectors */
/* works only with CSS3 */
input[type=button]{
  background-color: red;

}

input:valid:not([type=file]) {
  border: 1px solid green;
}

.rounded {
 border-radius: 10px;
}

.bordered {
  border: 2px solid black;
}

